[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
annotated-types = "==0.6.0"
anyio = "==4.0.0"
asgiref = "==3.7.2"
async-timeout = "==4.0.3"
certifi = "==2023.7.22"
charset-normalizer = "==3.3.0"
deprecation = "==2.1.0"
django = "==4.2.6"
gotrue = "==1.2.0"
gunicorn = "==21.2.0"
h11 = "==0.14.0"
httpcore = "==0.17.3"
httpx = "==0.24.1"
idna = "==3.4"
packaging = "==23.2"
plotly = "==5.17.0"
postgrest = "==0.11.0"
psycopg2 = "==2.9.9"
pydantic = "==2.4.2"
pydantic-core = "==2.10.1"
python-dateutil = "==2.8.2"
python-dotenv = "==1.0.0"
realtime = "==1.0.0"
redis = "==5.0.1"
requests = "==2.31.0"
six = "==1.16.0"
sniffio = "==1.3.0"
spotipy = "==2.23.0"
sqlparse = "==0.4.4"
storage3 = "==0.6.1"
strenum = "==0.4.15"
supabase = "==1.2.0"
supafunc = "==0.2.3"
tenacity = "==8.2.3"
typing-extensions = "==4.8.0"
urllib3 = "==1.26.6"
websockets = "==10.4"

[dev-packages]

[requires]
python_version = "3.11"
