[unix_http_server]
file = /tmp/supervisor.sock
[supervisord]
logfile = /var/app/current/supervisor_log/supervisord.log
logfile_maxbytes = 50MB
logfile_backups = 10
loglevel = info
pidfile = /tmp/supervisord.pid
nodaemon = false
minfds = 1024
minprocs = 200
[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface
[supervisorctl]
serverurl = unix:///tmp/supervisor.sock
[include]
files = /var/app/current/*.conf
[inet_http_server]
port = 127.0.0.1:9002
[program:web]
user = ec2-user
command = /var/app/venv/staging-LQM1lest/bin/gunicorn --bind :8000 --workers 2 --threads 2 vibecheck.wsgi:application
numprocs = 1
autostart = true
autorestart = unexpected
startsecs = 10
startretries = 3
exitcodes = 0
stopsignal = TERM
stopwaitsecs = 10
stopasgroup = false
killasgroup = false
redirect_stderr = false
stdout_logfile = /var/app/current/supervisor_log/web.log
stdout_logfile_maxbytes = 1MB
stdout_logfile_backups = 10
stdout_capture_maxbytes = 1MB
stdout_events_enabled = false
stderr_logfile = /var/log/web.err
stderr_logfile_maxbytes = 1MB
stderr_logfile_backups = 10
stderr_capture_maxbytes = 1MB
stderr_events_enabled = false
[program:websocket]
user = ec2-user
command = /var/app/venv/staging-LQM1lest/bin/daphne -b 0.0.0.0 -p 5000 vibecheck.asgi:application
numprocs = 1
autostart = true
autorestart = unexpected
startsecs = 10
startretries = 3
exitcodes = 0
stopsignal = TERM
stopwaitsecs = 10
stopasgroup = false
killasgroup = false
redirect_stderr = false
stdout_logfile = /var/app/current/supervisor_log/websocket.log
stdout_logfile_maxbytes = 1MB
stdout_logfile_backups = 10
stdout_capture_maxbytes = 1MB
stdout_events_enabled = false
stderr_logfile = /var/log/websocket.err
stderr_logfile_maxbytes = 1MB
stderr_logfile_backups = 10
stderr_capture_maxbytes = 1MB
stderr_events_enabled = false