{% extends 'base.html' %}

{% load static %}
{% block body_class %}background{% endblock %}

{% block content%}
    <div class="user-profile container-fluid col-md-8 p-5">
        <div class="row">
            <!-- Profile Picture -->
            <div class="col-md-4">
                <div class="img-container rounded-circle">
                    {% if user.profile_image_url %}
                        <img src="{{ user.profile_image_url }}" class="img-fluid rounded-circle mx-auto d-block" alt="User Image" width="200" height="200">
                    {% else %}
                        <img src="{% static 'user_profile/blank_user_profile_image.jpeg' %}" class="img-fluid rounded-circle mx-auto d-block" alt="Default Image" width="200" height="200">
                    {% endif %}
                </div>
            </div>

            <!-- User Content -->
            <div class="col-md-7">
                <h1>{{ user.username }}</h1>
                <p>{{ user.total_followers}} Followers{% if user.user_country %} · {{ user.user_country }}{% endif %}{% if user.user_city %} · {{ user.user_city }}{% endif %}</p>

                {% if user.user_bio %}
                <p><i>{{ user.user_bio }}</i></p>    
                {% endif %}
            </div>

            <!-- Edit -->
            <div class="col-md-1">
                <form action="{% url 'user_profile:edit' %}" method="post">
                    {% csrf_token %}
                    <div >
                      <button class="btn btn-dark default-btn" type="submit"><i class="bi bi-gear-wide-connected"></i>Edit</button>
                    </div>
                    <input type="hidden" name="user_id" value="{{ user.user_id }}">
                  </form>
            </div>
        </div>

    </div>

{% endblock %}