{% extends 'base.html' %}

{% block body_class %}background-image login-background{% endblock %}

{% block content %}
    <div class="container text-center">
        <div class="row justify-content-center align-items-center" style="height: 93vh;">
            <form class="col-sm-6" action="{% url 'login:authenticate_spotify' %}" method="post">
                <div class="logo">
                    <h1>VibeCheck</h1>
                </div>
            {% csrf_token %}
                <div >
                    <button type="submit" class="spgreen-btn" >Login with Spotify</button>
                </div>
            <!-- <input type="submit" value="Login with Spotify"> -->
        </form>
        </div>
        <div>
            <p>VibeCheck analyzes the patterns in your Spotify listening behavior to check your vibes and music tastes.</p>
        </div>
    </div>
{% endblock %}


