option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "vibecheck.settings"
    SPOTIPY_REDIRECT_URI: "http://team-env.eba-7azwmwci.us-east-1.elasticbeanstalk.com/login//callback"
    SPOTIPY_CLIENT_ID: "c8cee1ae00b240e093b0a09e6c77c325"
    SPOTIPY_CLIENT_SECRET: "687a8b5591b3497d80f1e3e091390ba5"
    OPEN_AI_TOKEN: "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"
    GENIUS_CLIENT_ACCESS_TOKEN: "-o_xv_VNVHp2Po56F7zDWybpAJXP-8fmtlIfQgw8VEITGgPvgugGRlCG6Do8MoOL"
    DB_NAME: "postgres"
    DB_USER: "postgres"
    DB_PASSWORD: "team1vibecheck"
    DB_HOST: "db.rndwvilajbirenkbpccu.supabase.co"
    DB_PORT: "5432"
    DJANGO_SETTINGS_MODULE=vibecheck.settings
    