option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "vibecheck.settings"
    SPOTIPY_CLIENT_ID: "3e08d953068a4235a66288850e220e5f"
    SPOTIPY_CLIENT_SECRET: "d518b3f60eb040f19120be4680868f00"
    OPEN_AI_TOKEN: "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"
    GENIUS_CLIENT_ACCESS_TOKEN: "-o_xv_VNVHp2Po56F7zDWybpAJXP-8fmtlIfQgw8VEITGgPvgugGRlCG6Do8MoOL"
    DB_NAME: "postgres"
    DB_USER: "postgres"
    DB_PASSWORD: "team1vibecheck"
    DB_HOST: "db.rndwvilajbirenkbpccu.supabase.co"
    DB_PORT: "5432"
    SPOTIPY_REDIRECT_URI: "http://vc-env-1115.eba-s3yeiibw.us-west-2.elasticbeanstalk.com/login/callback"
    PUSHER_APP_ID: 1711645
    PUSHER_KEY: ae7a42c72a63b4343290
    PUSHER_SECRET: 1d86255f81d1cc6cea08
    PUSHER_CLUSTER: us2