Resources:
  MyCacheSecurityGroup:
    Type: "AWS::EC2::SecurityGroup"
    Properties:
      GroupDescription: "Lock cache down to webserver access only"
      SecurityGroupIngress:
        - IpProtocol: "tcp"
          FromPort: { "Fn::GetOptionSetting": { "OptionName": "CachePort", "DefaultValue": "6379" } }
          ToPort: { "Fn::GetOptionSetting": { "OptionName": "CachePort", "DefaultValue": "6379" } }
          SourceSecurityGroupName: { "Ref": "AWSEBSecurityGroup" }

Outputs:
  CacheSecurityGroupId:
    Description: "ID of the ElastiCache Security Group"
    Value: { "Fn::GetAtt": [ "MyCacheSecurityGroup", "GroupId" ] }
