Resources:
  MyCacheSecurityGroup:
    Type: "AWS::EC2::SecurityGroup"
    Properties:
      GroupDescription: "Lock cache down to webserver access only"
      SecurityGroupIngress:
        - IpProtocol: "tcp"
          FromPort: 6379
          ToPort: 6379
          SourceSecurityGroupName:
            Ref: "AWSEBSecurityGroup"

  MyElastiCache:
    Type: "AWS::ElastiCache::CacheCluster"
    Properties:
      CacheNodeType: "cache.t2.micro"
      NumCacheNodes: 1
      Engine: "redis"
      VpcSecurityGroupIds:
        - Ref: "MyCacheSecurityGroup"

Outputs:
  ElastiCache:
    Description: "ID of ElastiCache Cache Cluster with Redis Engine"
    Value:
      Ref: "MyElastiCache"
