Resources:
  MyElastiCache:
    Type: "AWS::ElastiCache::CacheCluster"
    Properties:
      CacheNodeType: { "Fn::GetOptionSetting": { "OptionName": "CacheNodeType", "DefaultValue": "cache.t2.micro" } }
      NumCacheNodes: { "Fn::GetOptionSetting": { "OptionName": "NumCacheNodes", "DefaultValue": "1" } }
      Engine: { "Fn::GetOptionSetting": { "OptionName": "Engine", "DefaultValue": "redis" } }
      VpcSecurityGroupIds:
        - { "Fn::ImportValue": "CacheSecurityGroupId" }

Outputs:
  ElastiCacheClusterId:
    Description: "ID of ElastiCache Cache Cluster with Redis Engine"
    Value: { "Ref": "MyElastiCache" }
