files:
  "/etc/init.d/supervisord":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      # Get into root mode
      sudo su

      # Source function library
      . /etc/rc.d/init.d/functions

      # Source system settings
      if [ -f /etc/sysconfig/supervisord ]; then
          . /etc/sysconfig/supervisord
      fi

      # Path to the supervisorctl script, server binary,
      # and short-form for messages.
      supervisorctl=/usr/local/bin/supervisorctl
      supervisord=${SUPERVISORD-/usr/local/bin/supervisord}
      prog=supervisord
      pidfile=${PIDFILE-/tmp/supervisord.pid}
      lockfile=${LOCKFILE-/var/lock/subsys/supervisord}
      STOP_TIMEOUT=${STOP_TIMEOUT-60}
      OPTIONS="${OPTIONS--c /usr/local/etc/supervisord.conf}"
      RETVAL=0

      start() {
          echo -n $"Starting $prog: "
          daemon --pidfile=${pidfile} $supervisord $OPTIONS
          RETVAL=$?
          echo
          if [ $RETVAL -eq 0 ]; then
              touch ${lockfile}
              $supervisorctl $OPTIONS status
          fi
          return $RETVAL
      }

      stop() {
          echo -n $"Stopping $prog: "
          killproc -p ${pidfile} -d ${STOP_TIMEOUT} $supervisord
          RET
