{% extends 'base.html' %}

{% load static %}
{% block body_class %}background{% endblock %}

{% block content %}
<style>
/* Add this CSS to your existing stylesheet or within a <style> tag in your HTML head */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_card {
    background: linear-gradient(135deg, #ff758c 0%, #ff7eb3 100%);
    border-radius: 15px;
    color: white;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 400px;
    text-align: center;
    height: 400px;
    cursor: pointer;
}

.user_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.user_card h3 {
    margin: 0;
    font-weight: normal;
}

.match_component {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

</style>
<div class="container mt-5">
    <h1>VibeMatch</h1>
    <!-- A button or link that triggers the location prompt -->
    
</div>

<div class="container mt-5">
    <br>
    <div class="row">
        <div class="match_component">
            {% if neighbors %}
                {% for user in neighbors %}
                    <div class="user_card" onclick="loadCompareView('{{ user.user_id }}')">
                     {% if user.username.profile_image_url %}
                                <img src="{{ user.username.profile_image_url }}" class="img-fluid rounded-circle mx-auto d-block" alt="User Image" width="80" height="80">
                            {% else %}
                                <img src="{% static 'user_profile/blank_user_profile_image.jpeg' %}" class="img-fluid rounded-circle mx-auto d-block" alt="Default Image" width="80" height="80">
                            {% endif %}
    <h3>{{ user.username.username }}</h3>
    <p>{{ user.vibe.0 }} {{ user.vibe.1 }}</p>
</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
    <div id="compareViewModal" style="display:none;">
    <div id="compareViewContainer"></div>
    <button onclick="closeCompareView()">Close</button>
</div>


    <script>
function loadCompareView(otherUserId) {
        alert("Clicked user ID: " + otherUserId);
        console.log("a")

    // JavaScript to make an AJAX call
    fetch(`/view/compare/${otherUserId}`, {
        headers: {
            'X-Requested-With': 'XMLHttpRequest'
        }
    })
        .then(response => response.text())
        .then(html => {
            document.getElementById('compareViewContainer').innerHTML = html;
            document.getElementById('compareViewModal').style.display = 'block';
        });
}
</script>

    <script>
function closeCompareView() {
    document.getElementById('compareViewModal').style.display = 'none';
}
</script>


{% endblock %}
