{% extends 'base.html' %}

{% load static %}
{% block body_class %}background{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Chatroom</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'chatroom/css/style.css' %}">
    <style>
        #chat {
            /* display: flex;
            flex-direction: column-reverse; */
            height: 300px; /* Adjust the height as needed */
            overflow-y: auto; /* This will enable scrolling */
            background-color: white; /* Assuming you want a white background */
            border: 1px solid #ccc; /* Just an example border */
            padding: 10px; /* Add some padding */
            margin-bottom: 20px; /* Space before the form */
        }
    </style>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-9 mx-auto">
            <div class="card">
                <div class="card-header">
                    Group Chatroom
                </div>
                <div class="card-body" id="chat">
                    {% for message in messages %}
                        <p>{{ message.sender }}: {{ message.content }} - {{ message.timestamp }}</p>
                    {% endfor %}
                </div>
                <div class="card-footer">
                    <form id="message-form">
                        {% csrf_token %}
                        <input type="text" id="message-input" class="form-control" placeholder="Type your message">
                        <!-- <input type="text" id="sender-input" class="form-control" placeholder="Your name"> -->
                        <button type="submit" class="btn btn-primary btn-block mt-3">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://js.pusher.com/7.0/pusher.min.js"></script>
<!-- <script src="{% static 'chatroom/js/startScript.js' %}"></script> -->
<!-- Include any additional JS scripts required for your chat functionality -->
<!-- <script src="{% static 'chatroom/js/endScript.js' %}"></script> -->
<script>
    $(document).ready(function() {
        function addMessageToChat(message) {
    // Create the message element
    var messageElement = $('<p>').text(message.sender + ': ' + message.content + ' - ' + message.timestamp);
    
    // Prepend the message to keep the latest at the top
    $('#chat').prepend(messageElement);

    // Adjust scroll if it's at the top to account for new message
    if ($('#chat').scrollTop() < 0) { // 50 is a threshold, adjust as needed
        $('#chat').scrollTop($('#chat').scrollTop() + messageElement.outerHeight(true));
    }
}
        $('#message-form').submit(function(e) {
    e.preventDefault();

    var content = $('#message-input').val();

    if (content) {
        $.post("{% url 'chats:send_message' %}", {content: content}, function() {
            // Here you might want to add the message to the chat
            addMessageToChat({
                content: content,
                sender: sender,
                timestamp: new Date().toISOString() // Or format the date as needed
            });

            // Clear the message input
            $('#message-input').val('');
        });
    }
});

    function updateChat(messages) {
    // Update the chat with new messages
    $('#chat').html('');
    messages.forEach(function(message) {
        $('#chat').append('<p>' + message.sender + ': ' + message.content + ' - ' + message.timestamp + '</p>');
    });

    // set the scrollbar to bottom
    var chatContainer = $('#chat');
    chatContainer.scrollTop(chatContainer.prop('scrollHeight'));
}

        function getMessages() {
            $.get("{% url 'chats:get_messages' %}", function(data) {
                updateChat(data);
                getMessages();
            });
        }

        getMessages();

        var pusher = new Pusher('ae7a42c72a63b4343290', {
            cluster: 'us2'
        });

        var channel = pusher.subscribe('chatroom');
        channel.bind('new_message', function(data) {
            updateChat([{content: data.message, sender: "{{username}}", timestamp: new Date().toISOString()}]);
        });
    });
</script>
</body>
{% endblock content %}
</html>
