
{% extends 'base.html' %}

{% load static %}
{% block body_class %}background{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global Chat Room</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/chatroom/css/style.css">
</head>
<body>

    <!-- Include JQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="static/chatroom/js/startScript.js"></script>

    <br>
    <div class="container">
        <div class="row">
            
            <div id = "room-list" class="col-md-3">
                <h2>Room List</h2>
                <!-- {{ SearchRoomFrom.as_p }} -->
                <ul>
                    {% for room in rooms_list %}
                    <li class="room-list-item" data-room-id="{{ room.roomID }}">{{ room.room_name }}</li>   
                    {% endfor %}
                </ul>
                
            </div>
            <div id="room-container" class="col-md-9">
                <div class="row justify-content-center">
                    <div class="col-md">
                        <div class="card">
                            <div class="card-header" id="room-name"></div>
                            <div class="card-body" id="chat-messages">
                                <!-- Messages will be displayed here -->
                            </div>
                            <div class="card-footer">
                                <input type="text" id="chat-message-input" class="form-control" placeholder="Type your message...">
                                <button id="chat-message-submit" class="btn btn-primary btn-block mt-3">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <script src="static/chatroom/js/endScript.js"></script>
</body>
</html>

{% endblock content %}