{% extends 'base.html' %}

{% load static %}
{% load tz %}
{% block body_class %}background{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 mt-4 mx-auto">
                <div id="vibe-status" data-calculate-vibe-url="{% url 'dashboard:calculate_vibe' %}" class="border border-white rounded-4 px-2 py-2 d-flex justify-content-center align-items-center vibe-background">
                    <div class="vibe-loading-text"><h3>Loading Vibe...</h3></div>
                    <div class="vibe-loaded-text" style="display: none;"><h3>Your vibe is</h3></div>
                </div>
                <br>
                <div class="container border border-white rounded-4 px-4 py-4 justify-content-center align-items-center">
                    <h3>{{currentYear}} Vibes</h3>
                    <br>
                    {% for day in iteratorDay %}
                      <div class="row">
                        {% for month in iteratorMonth %}
                            {% if day == 0 %}
                                <div class="col text-center"> {{ month.short_name }} </div>
                            {% elif month.number == 0 and day > 0 %}
                                <div class="col text-center">{{ day }}</div>
                            {% else %}
                                <div class="col vibe-history-table mood-none
                                    {% for entry in vibe_history %}
                                        {% if entry.vibe_time|timezone:'UTC'|date:'F' == month.long_name and entry.vibe_time|timezone:'UTC'|date:'j'|add:0 == day and entry.user_audio_vibe %}
                                            mood-{{ entry.user_audio_vibe }}" data-toggle="tooltip" data-placement="top"
                                            title="{{ entry.user_audio_vibe }} {% if entry.user_lyrics_vibe %}{{ entry.user_lyrics_vibe }}{% endif %}
                                        {% endif %}
                                    {% endfor %}">
                                </div>
                            {% endif %}
                        {% endfor %}
                      </div>
                    {% endfor %}
                </div>            
            </div>
            <div class="col-md-4 mt-4 mx-auto">
                <div class="border border-white rounded-4 px-2 py-2">
                    <h3>Top Tracks</h3>
                    {% for track in top_tracks %}
                        <div class="row mb-2">
                            <div class="col-md-2 mb-2 mb-md-0">
                                <img src="{{ track.small_album_cover }}" alt="Album Thumbnail" class="img-fluid">
                            </div>
                            <div class="col-md-10">
                                <p style="margin-bottom: 0rem;"><strong>{{ track.name }}</strong></p>
                                <p>{{ track.artists }}</p> 
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <br>
                <div class="border border-white rounded-4 px-2 py-2">
                    <h3>Top Artists</h3>
                    {% for artist in top_artists %}
                        <div class="row mb-2">
                            <div class="col-md-2 mb-2 mb-md-0">
                                <img src="{{ artist.image_url }}" alt="Artist Thumbnail" class="img-fluid">
                            </div>
                            <div class="col-md-10">
                                <p>{{ artist.name }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <br>
                <div class="border border-white rounded-4 px-2 py-2">
                    <h3>Top Genres</h3>
                    {% for genre in top_genres|slice:":5" %}
                        <div class="row mb-2">
                            <p>{{ genre }}</p>
                        </div>
                    {% endfor %}
                </div>
                <br>
                <div class="border border-white rounded-4 px-2 py-2">
                    <h3>Track Recommendations</h3>
                    {% for track in recommendedtracks %}
                        <div class="row mb-2">
                            <div class="col-md-2 mb-2 mb-md-0">
                                <img src="{{ track.small_album_cover }}" alt="Album Thumbnail" class="img-fluid">
                            </div>
                            <div class="col-md-10">
                                <p style="margin-bottom: 0rem;"><strong>{{ track.name }}</strong></p>
                                <p>{{ track.artists }}</p> 
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function() {
                var calculateVibeUrl = $('#vibe-status').data('calculate-vibe-url');
                $('#vibe-status').addClass('vibe-loading');
                $('#vibe-status .vibe-loading-text').show();
                $('#vibe-status .vibe-loaded-text').hide();
                $.ajax({
                    url: calculateVibeUrl,
                    type: 'GET',
                    success: function(data) {
                        if (data.result === "Null") {
                            $('#vibe-status .vibe-loaded-text').text('No songs to analyze.').show();
                            $('#vibe-status').removeClass('vibe-loading');
                        } else {
                            var dataAsH1 = $('<h1>').text(data.result);
                            $('#vibe-status .vibe-loaded-text').append(dataAsH1).show();
                            $('#vibe-status').removeClass('vibe-loading').addClass('vibe-loaded');
                        }
                        $('#vibe-status .vibe-loading-text').hide();
                        alert('Vibe loaded');
                    },
                    error: function() {
                        // If ajax function has error..
                        $('#vibe-status .vibe-loaded-text').text('Error, please try again later.').show();
                        $('#vibe-status').removeClass('vibe-loading');
                        $('#vibe-status .vibe-loading-text').hide();
                    }
                });
            });
        </script>
    
    <!-- For vibe-history tooltip toggle -->
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip(); 
        });
    </script>


    <div class="container mt-5">
       <div class="container text-center">
            <div class="row">
                    <!-- Container for the Hour of Day Plot -->
                <div id="hourPlot" class="col"></div>

                <!-- Container for the Day of Week Plot -->
                <div id="dayPlot" class="col"></div>
            </div>
       </div>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                fetch('{% static "login/day_data.json" %}')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                const dayData = JSON.parse(data);
                Plotly.newPlot('dayPlot', dayData.data, dayData.layout);
            })
            .catch(error => {
                console.log('There was a problem with the fetch operation:', error.message);
            });
            // Your fetch and plot code here

                fetch('{% static "login/hour_data.json" %}')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                const hourData = JSON.parse(data);
                Plotly.newPlot('hourPlot', hourData.data, hourData.layout);
            })
            .catch(error => {
                console.log('There was a problem with the fetch operation:', error.message);
            });
        });
        </script>
    </div>


{% endblock %}

